body {
    background-color: rgb(202, 200, 186);
}

.logo-vue {
    background-color: white;
    object-fit: contain;
    border-radius: 50%;
    padding: 1rem;
    margin-block-end: 1rem;
}

.form-style {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    margin-block-end: 2.5rem;
}

.options-style {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 1rem;
    margin-inline: .1rem;
}

.input-style {
    border: 1px solid black;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
}

.table-container {
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    margin-inline: 2rem;
    margin-block-end: 1.5rem;
}

.border {
    border: 1px solid black;
    text-align: center;
}


