<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./src/app.js" defer></script>
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h2>{{ name }}</h2>
        <h3 v-text="name"></h3>
        <input type="text" v-model="name">

        <span v-bind:title="name">{{ name }}</span>

        <p v-for="item in numbers" v-text="item"></p>
        <p v-for="item in iter_object" v-text="item.total"></p>
        <p v-for="(value, key) in iter_object" v-text="value"></p>
        <p v-for="(value, key) in iter_object2" v-text="value"></p>
    </div>
</body>
</html>